<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mi Sitio{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h1>Gen</h1>
      <!-- Menú de navegación, etc. -->
    </header>
    <main>
      {% block content %}
      <!-- Contenido principal -->
      {% endblock content %}
    </main>
    <footer>
      <!-- Pie de página -->
    </footer>
  </body>
</html>
